.main{
    width: 100vw;
    min-height: 100vh;
    background-color: red;
    padding: 0px 20px;
    & .container{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        text-align: left;
    }
}