.main{
    width: 100vw;
    min-height: 100vh;
    background-color: red;
    padding: 0px 20px;
    & .container{
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-wrap: wrap;
    }
}